.menu{
position: fixed;
z-index: 100;
width: 100%;
display: block;
text-align: right;
top: 100px;
justify-content: space-between;
background-color:rgb(253, 100, 11) ;
transform: translatex(-200%);


}

.menu.open{
    transform: translatex(0%);
    

}



.menu a{
 
    display: block;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 18px;
    padding: 8px 20px;
    
    color: #fff;
}

.menu a:hover{
    color: #000;
    transition: all 0.2s ease;
    text-decoration: line-through;
    
}




.hamb{
font-size: 20px;
color: #fff;
border: 1px solid #fff;
padding: 10px;
margin: 10px;
border-radius: 5px;
}


